ios/Flutter/flutter_assets/kernel_blob.bin
.packages
.flutter-plugins
ios/Flutter/Flutter.framework
ios/Flutter/App.framework
ios/Runner.xcworkspace/xcuserdata
build
ios/Pods
Podfile.lock
android/.gradle
