<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>525472070731-4eah8dlgjdok42h1sa1fenk5dcu8f39c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.525472070731-4eah8dlgjdok42h1sa1fenk5dcu8f39c</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>525472070731-rjpj7hs7nb94r2ig3p93qrk4dit2e254.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCdOxJxTtMr4Vjxk0akt3z7CHP4LO3w1_E</string>
	<key>GCM_SENDER_ID</key>
	<string>525472070731</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.instamobile.login.ios</string>
	<key>PROJECT_ID</key>
	<string>production-a9404</string>
	<key>STORAGE_BUCKET</key>
	<string>production-a9404.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:525472070731:ios:ccfa33074d0dcf59ba61ce</string>
	<key>DATABASE_URL</key>
	<string>https://production-a9404.firebaseio.com</string>
</dict>
</plist>